//Colors
$headerTitleColor: #fec342;
$descTitleColor: #ffa241;

@mixin font($size, $weight, $family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

.button {
  background-color: #00bff3;
  border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 15px 32px;
  font-size: 18px;
  font-family: Gadugi;
  margin: 1rem 1rem;
  text-align: center;
  text-decoration: none;
}

.header{
    position: relative;
    img {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        max-width: 100%;
    }
    .header__info {
        position: absolute;
        top: 50%;
        left: 10%;
        // transform: translate(-50%, -50%);

        .header__title {
            color: $headerTitleColor;
            
            @include font(60px, 700 , Gadugi )
        }
    
        .header__text {
            color: #040100;
          
            @include font(24px, 700 , Gadugi );

            margin-top: 26px;
        }
    }
}

.description {
    background-color: #ebebeb;
    display: flex;
    justify-content: space-around;
   
    .description__text {
        margin-top: 70px;
        width: 30%;
        h3 {
            color: $descTitleColor;

            @include font(36px, 700, Gadugi)
        }

        p {
            color: #31281a;
            margin-top: 65px;
            margin-bottom: 98px;

            @include font(24px, 700, Gadugi)
        }
    }
}

//Media queries

@media screen and (max-width: 1200px) {
    .header {
        .header__info {
            left: 2rem;

            .header__title {
                font: {
                    size: 40px;
                }
            }
        
            .header__text {
                font: {
                    size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .header__info {
            .header__text {
                display: none;
            }
        }
    }
}

@media  screen and (max-width: 1200px){
    .description {
        .description__text {
            
            h3 {

                @include font(30px, 700, Gadugi);

            }
    
            p {

                @include font(16px, 700, Gadugi);

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .description {
        display: block;
        background-color: #ebebeb;
        .description__text {
            margin-top: 0;
            padding-top: 2rem;
            width: 100%;
            h3 {

                @include font(26px, 700, Gadugi);
                
                margin-left: 1rem;
                margin-right: 1rem;
                text-align: center;
            }
    
            p {

                @include font(14px, 700, Gadugi);
                
                margin-bottom: 0;
                padding: 0 1rem;
            }
        }
    }
}