label {
    display: none;
}

body {
    background: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__page{
    margin-top: 50%;
    width: 410px;
    position: relative;

    input {
        outline: 0;
        height: 63.25px;
        background-color: #ebebeb;
        width: 100%;
        border: 0;
        margin: 0 0 38px;
        padding: 0 0 0 30px;
        border-radius: 10px;
        font-size: 14px;

        &::placeholder {
            color: #403f3f;
            font-size: 18px;
        }
    }

    .login__page--recovery input {
        background-color: #8781bd;
        
        
        &::placeholder {
            color: #fff;
            font-size: 18px;
        }
    }

    button {
        background-color: #00bff3;
        border: none;
        border-radius: 10px;
        color: white;
        display: inline-block;
        padding: 15px 32px;
        font-size: 18px;
        font-family: Gadugi;
        text-align: center;
        text-decoration: none;
        position: absolute;
        bottom: 38px;
        right: -30px;
        height: 63.25px;
        cursor: pointer;
    }
}